<div class='bottom-menu'>
<div class='container'>
<div class='row'>
<div class='col-md-7'>
<h6 class='footer-title'>More with PubNub Real-time Network</h6>
<p>
Do you like this freebie?
Want to get more stuff like this?
<br>
Subscribe to
<a href='http://twitter.com/PubNub' target='pntwitter'>@PubNub</a>
news and updates to stay tuned on great designs.<br>
<a href='http://www.pubnub.com/free-trial' target='signup'>PubNub Real-Time Network</a>
.
</p>
<p>
<a href='http://twitter.com/PubNub' target='pntwitter2'>
<i class='fa fa-twitter'></i>
Follow us on Twitter
</a>
</p>
</div>
<div class='col-md-5'>
<div class='footer-banner'>
<h6>
<i class='fa fa-comments'></i>
PubNub Network
</h6>
<a alt='PubNub Real-Time Network' class='btn btn-info btn-large btn-block' href='http://www.pubnub.com/free-trial' target='freetrial'>Try PubNub Today!</a>
<br>
</div>
<ul>
<li>Core Building Blocks for Secure Real-Time</li>
<li>A Lot of Useful Samples</li>
<li>Real-Time on a Redundant, Global Network</li>
<li>Rapid Development and On-Demand Scaling</li>
<li>Drops into Mobile and Web by Default</li>
<li>Over 50 Supported SDKs</li>
</ul>
</div>
</div>
</div>
</div>
<!-- .menu.terms -->
<!-- %ul -->
<!-- %li -->
<!-- %a(href="#") © 2009-13 PubNub Inc. -->
<!-- %li -->
<!-- %a(href="http://pubnub.com/terms" id="terms") Terms &amp; Conditions -->
<!-- %li -->
<!-- %a(href="http://pubnub.com/privacy-policy" id="privacy") Privacy Policy -->
