<div class='top-menu navbar navbar-default'>
<div class='navbar-header'>
<p class='brandP'>
&nbsp;&nbsp;&nbsp;
<a href='http://pubnub.com' style='text-decoration:none'>
<img height='30px' src='images/pubnub-large.png'>
</a>
&nbsp;&nbsp;&nbsp;
+
&nbsp;&nbsp;&nbsp;
<a href='http://angularjs.org' style='text-decoration:none'>
<img height='30px' src='http://angularjs.org/img/AngularJS-large.png'>
</a>
</p>
</div>
<ul class='nav navbar-nav navbar-right'>
<li>
<a href='' onclick="scrl2('#getting_started')">Getting Started</a>
</li>
<li>
<a href='' onclick="scrl2('#angular_api_tour')">PubNub Angular API Tour</a>
</li>
<li>
<a href='' onclick="scrl2('#angular_api_reference')">API Reference</a>
</li>
<li>
<a href='https://github.com/pubnub/angular-js'>
<i class='fa fa-github'></i>
View on GitHub
</a>
</li>
</ul>
</div>
