<!doctype html>
<html lang="en">
<head>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="https://rawgit.com/pubnub/javascript/feature-pt74838232-2/web/pubnub.js"></script>
  <script src="https://rawgit.com/pubnub/pubnub-angular/v1.2.0-beta.3/lib/pubnub-angular.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
<div class="container" ng-app="DataSyncApp" ng-controller="DataSyncController">
  <div class="row">
  <h1>DataSync</h1>
  <table>
  <tr>
    <td><h4>Database Name</h4><input ng-model="object_id"></td>
    <td><h4>Path</h4><input ng-model="path"></td>
    <td><h4>Absolute Path</h4><input ng-model="absolute_path" readonly></td>
  </tr>
  <tr>
    <td colspan=3>
      <button ng-click="get()">get</button>
      <button ng-click="set()">set</button>
      <button ng-click="merge()">merge</button>
      <button ng-click="remove()">remove</button>
      <button ng-click="watch()">watch</button>
      <button ng-click="sync()">sync</button>
    </td>
  </tr>
  <tr>
    <td colspan=3>
      <div class="well">
        {{theObj}}
      </div>
    </td>
  </tr>
  </table>
  </div>
</div>
<script>
var app = angular.module('DataSyncApp', ["pubnub.angular.service"]);

app.controller('DataSyncController', ['$scope', 'PubNub', function($scope, PubNub) {
  PubNub.init({
    publish_key   : "pub-c-YOURPUBKEY", // NOTE: app key must be enabled for DataSync BETA!
    subscribe_key : "sub-c-YOURSUBKEY", // NOTE: app key must be enabled for DataSync BETA!
    origin        : "pubsub-beta.pubnub.com"
  });

  var logit = function(prefix) { return function() {console.log(prefix, arguments);} }

  $scope.object_id = 'foo';
  $scope.path = '';
  $scope.absolute_path = 'foo';
  
  $scope.$watch('object_id + path', function(x) {
    $scope.absolute_path = $scope.object_id + ($scope.path ? "." + $scope.path : '');
  });

  $scope.theObj = null;

  $scope.getObjDesc = function() {
    return {object_id : $scope.object_id, path : $scope.path};
  }

  $scope.get    = function() { PubNub.datasync_BETA.ngGet($scope.getObjDesc()).then(function(x) { $scope.theObj = x; }); }
  $scope.remove = function() { PubNub.datasync_BETA.ngRemove({object_id:$scope.object_id}).then(logit('remove')); }
  
  $scope.set = function() {
    PubNub.datasync_BETA.ngSet({
      object_id : $scope.object_id,
      data : { 'isAwesome' : true }
    }).then(logit('set'));
  }

  $scope.merge = function() {
    PubNub.datasync_BETA.ngMerge({
      object_id : $scope.object_id,
      data : { 'time' : new Date() }
    }).then(logit('merge'));
  }

  $scope.sync   = function() {
    $scope.theObj = PubNub.datasync_BETA.ngSync($scope.object_id).content.data;
  }

  $scope.watch  = function() { PubNub.datasync_BETA.ngWatch($scope.getObjDesc()); }

  $scope.$on(PubNub.datasync_BETA.ngObjPathEv($scope.object_id),    logit('path_event'));
  $scope.$on(PubNub.datasync_BETA.ngObjPathRecEv($scope.object_id), logit('path_rec_event'));
  $scope.$on(PubNub.datasync_BETA.ngObjDsEv($scope.object_id),      logit('dstr_event'));
}]);
</script>
</body>
</html>
