.bottom-menu
  .container
    .row
      .col-md-7
        %h6.footer-title More with PubNub Real-time Network
        %p
          Do you like this freebie?
          Want to get more stuff like this?
          %br
          Subscribe to
          %a(target="pntwitter" href="http://twitter.com/PubNub") @PubNub
          news and updates to stay tuned on great designs.<br>
          %a(target="signup" href="http://www.pubnub.com/free-trial") PubNub Real-Time Network
          \.

        %p
          %a(target="pntwitter2" href="http://twitter.com/PubNub")
            %i.fa.fa-twitter
            Follow us on Twitter

      .col-md-5
        .footer-banner
          %h6
            %i.fa.fa-comments
            PubNub Network

          %a.btn.btn-info.btn-large.btn-block(alt="PubNub Real-Time Network" target="freetrial" href="http://www.pubnub.com/free-trial") Try PubNub Today!
          
          %br

        %ul
          %li Core Building Blocks for Secure Real-Time
          %li A Lot of Useful Samples
          %li Real-Time on a Redundant, Global Network
          %li Rapid Development and On-Demand Scaling
          %li Drops into Mobile and Web by Default
          %li Over 50 Supported SDKs

/  .menu.terms
/    %ul
/      %li
/        %a(href="#") © 2009-13 PubNub Inc.
/      %li
/        %a(href="http://pubnub.com/terms" id="terms") Terms &amp; Conditions
/      %li
/        %a(href="http://pubnub.com/privacy-policy" id="privacy") Privacy Policy
