.well
  %p
    %span(style='font-size:72px')
      %img(src='images/icons/shield.svg' style="height:96px")
      %img(src='images/icons/map.svg' style="height:96px")
      %img(src='images/icons/girl.svg' style="height:96px")
      %img(src='images/icons/chat.svg' style="height:96px")
      %img(src='images/icons/dude.svg' style="height:96px")
  %p
    %h4.marker
      More AngularJS. More PubNub. More Fun.
  %p
    We hope you'll enjoy this friendly and useful sample
    application that weighs in at around 70 lines of coffeescript.
  %p(ng-hide='selectedChannel')
    To begin, please enter a username (or accept the random
    selection) and click Join to enter the chat area.
  %p(ng-show='selectedChannel')
    %span.label.label-success Ready, Set, Go!
    Channels are listed across the screen. To send a chat message,
    enter a message in the box and click the 'Send' button.