.top-menu.navbar.navbar-default
  .navbar-header
    %p.brandP
      &nbsp;&nbsp;&nbsp;
      %a(href='http://pubnub.com' style='text-decoration:none')
        %img(src='images/pubnub-large.png' height='30px')
      &nbsp;&nbsp;&nbsp;
      +
      &nbsp;&nbsp;&nbsp;
      %a(href='http://angularjs.org' style='text-decoration:none')
        %img(src='http://angularjs.org/img/AngularJS-large.png' height='30px')

  %ul.nav.navbar-nav.navbar-right
    %li
      %a(href="" onclick="scrl2('#getting_started')") Getting Started
    %li
      %a(href="" onclick="scrl2('#angular_api_tour')") PubNub Angular API Tour
    %li
      %a(href="" onclick="scrl2('#angular_api_reference')") API Reference
    %li
      %a(href="https://github.com/pubnub/angular-js")
        %i.fa.fa-github
        View on GitHub

