.top-menu.navbar.navbar-default
  .navbar-header
    %a.navbar-brand(href="") AngularJS + PubNub

  %ul.nav.navbar-nav.navbar-right
    %li
      %a(href="" onclick="scrl2('#getting_started')") Getting Started
    %li
      %a(href="" onclick="scrl2('#angular_api')") PubNub Angular API
    %li
      %a(href="https://github.com/pubnub/angular-js")
        %i.fa.fa-github
        View on GitHub

