
.container.col-md-12(ng-include=true src="'views/_nav.html'")

.container.col-md-12(ng-include=true src="'views/_happy.html'")

.container
  %section.chat-section
    .container
      %h2
        PubNub AngularJS Chat Example
        
      %p
        %span.label.label-default(ng-hide='selectedChannel') Not Connected Yet
        To enter the sample Chat application, choose a username and press the "Join" button above
      
      %img.img-rounded(src='images/screenshot.png' style="width:600px")

%div(ng-include=true src="'views/_content.html'")

%div(ng-include=true src="'views/_footer.html'")